.kapsayici {
    margin-inline: auto;
    max-inline-size: 40rem;
    padding-block-start: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 2rem);
    gap: 0.5rem;
    place-content: center;
}

.div10 {
    width: 2rem;
    height: 2rem;
    border: 1px solid light-dark(#999, #444);
    text-align: center;
    transition: background-color 0.3s;
}

.bos {
    background: none;
    border: 1px solid transparent;
}

.red {
    background-color: #f6465d;
}
.blue {
    background-color: #2ebd85;
}

.white {
    background: white;
}

#saat {
    border: 1px solid light-dark(#999, #444);
    font-size: 1.5em;
    width: 14.5rem;
    text-align: center;
    margin-block: 0.5rem;
    margin-inline: auto;
}
